Binaries
Intermediate
Saved
.DS_Store
.vscode
.vs
.idea
Android_ASTC
DerivedDataCache
democpp.xcworkspace/xcuserdata/*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
democpp.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
democpp.xcworkspace/contents.xcworkspacedata
democpp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
democpp.xcworkspace/xcuserdata/glossimar.xcuserdatad/UserInterfaceState.xcuserstate
democpp.xcworkspace/xcuserdata/glossimar.xcuserdatad/WorkspaceSettings.xcsettings
democpp.xcworkspace/xcuserdata/glossimar.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
democpp.xcworkspace/xcuserdata/glossimar.xcuserdatad/IDEFindNavigatorScopes.plist
democpp.xcworkspace/xcuserdata/sunwanqi.xcuserdatad/WorkspaceSettings.xcsettings
Build
democpp.code-workspace
Config
slua-unreal.code-workspace
/democpp.sln
/dep_android.bat
CMakeFiles
CMakeCache.txt
/Android_ETC2
/WindowsNoEditor
